{% extends 'base.html' %}
            {% block contents %}
        <div class="container-fluid">
            {{message}}
            <p>廃棄する書籍情報を手入力してください</p>
            <form action="{% url 'app_folder:disposal_manual' %}" method="post" novalidate>
                {% csrf_token %}
                <div class="container-fluid">
                  <table>
                    {{ form.as_table }}
                  </table>
                </div>
                <br>
                <div class="row">
                    <button type="submit" name="button" class="btn btn-block btn-warning btn-lg col-xs-12 col-sm-6 col-md-4" value="submit">
                    登録
                    </button>
                    <input type="hidden" name="input_method" value="regist" />
                </div>
            </form>
            <br>
            <div class="row">
                <button type="button" name="button" class="btn btn-block btn-warning btn-lg col-xs-12 col-sm-6 col-md-4" onclick="location.href='../'">トップへ戻る</button>
            </div>
            <br>
        </div>

            {% endblock %}