{% extends 'base.html' %}

            {% block contents %}

            <style>
            label > input {
                display:none; /* アップロードボタンのスタイルを無効にする */
            }
            </style>
            {% if message %}
            <p>{{message}}</P>
            {% endif %}
            <!--
            <p>ms_flag:{{ms_flag}}</P>
            <p>booklist:{{booklist}}</P>
            {% for booklist in booklist %}
                <p>booklist.publisher:{{ booklist.publisher }}</p>
                <p>booklist.title:{{ booklist.title }}</p>
                <p>booklist.author:{{ booklist.author }}</p>
                <p>booklist.price:{{ booklist.price }}</p>
                <p>booklist.detail:{{ booklist.detail }}</p>
                <p>booklist.date:{{ booklist.date }}</p>
                <p>booklist.isbn:{{ booklist.isbn }}</p>
                <p>disposallist:{{disposallist}}</P>
                <p>bookdata_dict:{{bookdata_dict}}</P>
                <p>bookdata_dict_list:{{bookdata_dict_list}}</P>
                <p>form:{{form}}</P>
                <p>isbn:{{isbn}}</P>
                <p>uploaded_file_url:{{uploaded_file_url}}</P>
                <p>last_page:{{last_page}}</P>
            {% endfor %}
            -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 btn_area">
                        <h4 class="mt-5 mb-4 border-bottom">発注登録</h4>
                        <button type="button" name="ISBN複数入力" value="isbn" class="btn btn-block btn-info btn-lg " onclick="location.href='./input_isbns/'">ISBN複数入力</button>
                        <br>
                        <button type="button" name="ISBN入力" value="isbn" class="btn btn-block btn-info btn-lg" onclick="location.href='./input_isbn/'">ISBN入力</button>
                        <br>
                        <button type="button" id="FileLoad" name="バーコードスキャン" value="barcode" class="btn btn-block btn-info btn-lg"  onclick="location.href='./input_barcode/'">バーコードスキャン</button>
                        <br>
                        <form action="{% url 'app_folder:input_manual' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="input_method" value="manual" class="btn btn-block btn-info btn-lg">手入力</button>
                        </form>
                    </div>
                    <div><br></div>
                    <div class="col-md-6 btn_area">
                        <h4 class="mt-5 mb-4 border-bottom">発注リスト操作</h4>
                        <button type="button" name="input_export" class="btn btn-block btn-info btn-lg" onclick="location.href='./csv_export/'">ファイル出力</button>
                        <br>
                        <button type="button" name="input_all_delete" class="btn btn-block btn-info btn-lg" onclick="location.href='./delete_all/'">全件削除</button>
                    </div>
                </div>
                <div><br></div>
                <div class="row">
                    <div class="col-md-6 btn_area">
                        <h4 class="mt-5 mb-4 border-bottom">廃棄登録</h4>
                        <button type="button" name="ISBN複数入力" value="isbn" class="btn btn-block btn-warning btn-lg " onclick="location.href='./disposal_isbns/'">ISBN複数入力</button>
                        <br>
                        <button type="button" name="ISBN入力" value="isbn" class="btn btn-block btn-warning btn-lg" onclick="location.href='./disposal_isbn/'">ISBN入力</button>
                        <br>
                        <button type="button" id="FileLoad" name="バーコードスキャン" value="barcode" class="btn btn-block btn-warning btn-lg"  onclick="location.href='./disposal_barcode/'">バーコードスキャン</button>
                        <br>
                        <button type="button" name="手入力" value="manual" class="btn btn-block btn-warning btn-lg " onclick="location.href='./disposal_manual/'">手入力</button>
                    </div>
                    <div><br></div>
                    <div class="col-md-6 btn_area">
                        <h4 class="mt-5 mb-4 border-bottom">廃棄リスト操作</h4>
                        <button type="button" name="export" class="btn btn-block btn-warning btn-lg" onclick="location.href='./csv_export_disposal/'">ファイル出力</button>
                        <br>
                        <button type="button" name="export" class="btn btn-block btn-warning btn-lg" onclick="location.href='./delete_disposal/'">全件削除</button>
                    </div>
                </div>

            </div>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <h4 class="mt-5 mb-4 border-bottom">発注リスト： {{ booklist|length }}件のレコード</h4>
                    <table class="table table-striped table-bordered col-xs-12">
                        <thead class="text-center">
                            <tr class="d-flex">
                                <td class="list_cell col-sm-1 d-none d-sm-block">出版社</td>
                                <td class="list_cell col-sm-2 col-xs-9">書名</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">著者</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">本体価格（税抜）</td>
                                <td class="list_cell col-sm-4 d-none d-sm-block">詳細</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">出版年月</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">ISBN</td>
                                <td class="list_cell col-sm-1 col-xs-3">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booklist in booklist  %}
                            <tr class="d-flex">
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ booklist.publisher }}</td>
                                <td class="list_cell col-sm-2 col-xs-9">{{ booklist.title }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ booklist.author }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ booklist.price }}</td>
                                <td class="list_cell col-sm-4 d-none d-sm-block">{{ booklist.detail }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ booklist.date }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ booklist.isbn }}</td>
                                <td class="list_cell col-sm-1 col-xs-3">
                                    <div class="form-group row justify-content-center">
                                    <form action="{% url 'app_folder:input_manual' %}" method="POST">
                                        {% csrf_token %}
                                        <button name="id" value="{{ booklist.id }}" class="btn btn-info">編集</button>
                                        <input type="hidden" name="list_name" value="booklist" />
                                        <input type="hidden" name="input_method" value="edit" />
                                    </form>
                                    </div>
                                    <div class="form-group row justify-content-center">
                                    <form action="{% url 'app_folder:delete_record' %}" method="POST">
                                        {% csrf_token %}
                                        <button name="id" value="{{ booklist.id }}" class="btn btn-info">削除</button>
                                        <input type="hidden" name="list_name" value="booklist" />
                                    </form>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

       <div class="container-fluid">
                <div class="row">
                    <h4 class="mt-5 mb-4 border-bottom">廃棄リスト： {{ disposallist|length }}件のレコード</h4>
                    <table class="table table-striped table-bordered col-xs-12">
                        <thead class="text-center">
                            <tr class="d-flex">
                                <td class="list_cell col-sm-1 d-none d-sm-block">受入日</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">登録番号</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">著者</td>
                                <td class="list_cell col-sm-2 col-xs-9">書名</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">出版社</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">本体価格（税抜）</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">発行年</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">分類番号</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">廃棄日</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">備考</td>
                                <td class="list_cell col-sm-1 col-xs-3">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for disposallist in disposallist  %}
                            <tr class="d-flex">
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ disposallist.reg_date }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ disposallist.reg_no }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ disposallist.author }}</td>
                                <td class="list_cell col-sm-2 col-xs-9">{{ disposallist.title }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ disposallist.publisher }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ disposallist.price }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ disposallist.date }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ disposallist.class_no }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ disposallist.disposal_date }}</td>
                                <td class="list_cell col-sm-1 d-none d-sm-block">{{ disposallist.remarks }}</td>
                                <td class="list_cell col-sm-1 col-xs-3">
                                    <div class="form-group row justify-content-center">
                                    <form action="{% url 'app_folder:disposal_manual' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="id" value="{{ disposallist.id }}" class="btn btn-warning">編集</button>
                                        <input type="hidden" name="list_name" value="disposallist" />
                                        <input type="hidden" name="input_method" value="edit" />
                                    </form>
                                    </div>
                                    <div class="form-group row justify-content-center">
                                    <form action="{% url 'app_folder:delete_record' %}" method="POST">
                                        {% csrf_token %}
                                        <button name="id" value="{{ disposallist.id }}" class="btn btn-warning">削除</button>
                                        <input type="hidden" name="list_name" value="disposallist" />
                                    </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


            <!--</form>-->
            {% endblock %}
